.footer {
 height: 153px;
  width: 100vw;
  background-color: black;
  margin-top: 20px;

  .footer__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

    p {
      color: white;
      width: 199px;
      height: 14px;
      margin-left: 0 0 15px 41px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 767px) {
  /* Your styles here */
  .footer {
    width: 100vw;
    .footer__wrapper {
      display: flex;
    }
  }
}