.app__navbar {
  width: 100vw;
  height: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brown-color);
  position: fixed;
  z-index: 100;

  .nav__list {
    list-style: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;

    &-items{
      display: flex;
      gap: 65px;
    }

    .button__wrapper-activity {
      color: #000000;
      border-radius: 9px;
      width: 173px;
      height: 50px;
    }
    .blue {
      background-color: #22c3e7;
    }
    .red {
      background-color: #f02b2b;
    }
    .yellow {
      background-color: #e8b604;
    }
    .green {
      background-color: #46ea0d;
    }
  }

  .cart__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }




  .app__navbar-logo {
    width: 154px;
    height: 154px;
  }
  .profile__pic {
    width: 50px;
    height: 50px;
    margin-right: 50px; 
    cursor: pointer;
  }
  p {
    color: blue;
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .app__navbar {
    height: 100px;

    .nav__list {
      list-style: none;
      margin-left: 10px;
      padding: 0;
      display: flex;
      gap: 10px;
  
      &-items{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      .button__wrapper-activity {
        color: #000000;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    }
    .app__navbar-logo {
      width: 100px;
      height: 100px;
    }
    .profile__pic {
      width: 40px;
      height:40px;
      margin-right: 0px; 
      cursor: pointer;
    }
    p {
      color: blue;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
