// Navbar style

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
  // background-color: rgb(190, 175, 175);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgba(9, 4, 98, 0), rgba(2, 2, 70, 1)),
    url("../../../assets/Banner.webp") no-repeat center center;
  background-size: cover;

  .nav__list-items {
    display: flex;
    list-style: none;
    gap: 35px;
  }
  .button__wrapper-activity {
    color: #ffffff;
    border-radius: 9px;
    width: 105px;
    height: 50px;
    font-weight: 600;
  }
  .blue {
    background-color: #22c3e7;
  }
  .red {
    background-color: #f02b2b;
  }
  .yellow {
    background-color: #e8b604;
  }
  .green {
    background-color: #46ea0d;
  }

  &__logo {
    img {
      height: 152px;
    }
  }
  &__cta {
    display: flex;
    gap: 15px;
    button {
      display: inline-block;
      padding: 0.5rem 1rem;
      border: none;
      width: 100px;
      height: 50px;
      background-color: rgb(73, 67, 67);
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-weight: 600;
      font-size: medium;

      &:hover {
        background-color: rgb(124, 124, 238);
        color: whitesmoke;
      }
    }
  }

  &__toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &-icon {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #333;
      position: relative;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    & .navbar__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      & .navbar__item {
        margin-right: 1rem;
      }

      & .navbar__link {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        transition: all 0.3s ease-in-out;
        font-weight: 600;

        &:hover {
          background-color: #333;
          color: #fff;
        }
      }
    }

    &__cta {
      display: flex;
      margin-left: auto;

      button {
        display: inline-block;
        padding: 0.5rem 1rem;
        border: none;
        width: 100px;
        height: 50px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #fff;
          color: #333;
        }
      }

      & .navbar__signin {
        margin-right: 5px;
      }
    }

    .cart__container-wrapper {
      display: flex;
      gap: 20px;
      p {
        color: rgb(111, 197, 226);
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
